/* Error: ("primary": #0d6efd, "secondary": #6c757d, "success": #198754, "info": #0dcaf0, "warning": #ffc107, "danger": #dc3545, "light": #f8f9fa, "dark": #212529) isn't a valid CSS value.
 *    ,
 * 94 | $theme-colors-rgb: map-loop($theme-colors, to-rgb, "$value") !default;
 *    |                             ^^^^^^^^^^^^^
 *    '
 *   node_modules\bootstrap\scss\_variables.scss 94:29  @import
 *   style.scss 2:9                                     root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: (\"primary\": #0d6efd, \"secondary\": #6c757d, \"success\": #198754, \"info\": #0dcaf0, \"warning\": #ffc107, \"danger\": #dc3545, \"light\": #f8f9fa, \"dark\": #212529) isn't a valid CSS value.\a    \2577 \a 94 \2502  $theme-colors-rgb: map-loop($theme-colors, to-rgb, \"$value\") !default;\a    \2502                              ^^^^^^^^^^^^^\a    \2575 \a   node_modules\\bootstrap\\scss\\_variables.scss 94:29  @import\a   style.scss 2:9                                     root stylesheet";
}
